.aboutContainer {
  overflow: auto;
  justify-content: space-between;
  flex-direction: column-reverse;
  width: 100%;
}

.aboutContent {
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.greeting {
  flex-direction: column;
  text-align: center;
  align-self: center;
}

.greetHeader {
  width: 100%;
  font-size: 1.25rem;
  padding: .5rem;
  justify-content: center;
}

.rotatingWords {
  font-family: "Shadows Into Light", Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  padding: 1rem;
  justify-content: center;
}

.aboutTop, .aboutBottom {
  flex-direction: column;
  align-items: center;
}

.aboutTop {
  flex-basis: 30%;
}

.aboutBottom {
  flex-basis: 70%;
}

.aboutCopy {
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem 0rem;
  padding-bottom: 0rem;
  max-width: 750px;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.aboutCopy p {
  height: auto;
  margin-bottom: 2rem;
  margin-top: 0rem;
}

.profile {
  margin: 1rem;
  align-self: center;
  position: relative;
  height: 100px;
  width: 100px;
}

.profile img {
  border-radius: 50%;
}

.resume {
  width: 120px;
  height: auto;
  padding: .5rem 0rem;
  margin: 2rem 0rem;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  transition: ease-in .2s;
}

.resume svg {
  margin-right: 5px;
}

.resume:hover {
  color: black;
  background-color: white;
  transform: scale(1.05);
}

.icons {
  width: 100%;
  padding-top: 2rem;
  font-size: 1.5rem;
  color: #999999;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-between;
}

.icons i {
  padding: .25rem;
}

/* Rotating Words styles */

#popEffect {
  display: inline;
  opacity: 0;
  overflow: hidden;
  animation: pop 2.5s linear infinite 0s;
  -ms-animation: pop 2.5s linear infinite 0s;
  -webkit-animation: pop 2.5s linear infinite 0s;
}

/*Pop Effect Animation*/
@-moz-keyframes pop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: rotate(0deg) scale(0.1) skew(0deg) translate(0px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  30% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes pop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: rotate(0deg) scale(0.1) skew(0deg) translate(0px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  30% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes pop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: rotate(0deg) scale(0.1) skew(0deg) translate(0px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  30% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media only screen and (min-width: 600px) {
  .greetHeader {
    font-size: 1.4rem;
  }

  .aboutCopy {
    font-size: 1.4rem;
    padding: 1rem;
  }

  
}

@media only screen and (min-width: 800px) {
  .aboutContainer {
    height: 100%; 
    justify-content: space-between;
  }

  .aboutContent {
    padding-top: 0rem;
  }

  .aboutCopy {
    font-size: 1.25rem;
  }

  .icons {
    font-size: 2rem;
    padding-top: 1rem;  
    max-width: 470px;
    align-self: center;
  }

  .icons i {
    padding: .5rem;
  }

  .greetHeader {
    font-size: 2rem;
  }

  .profile {
    height: 150px;
    width: 150px;
  }

  .resume {
    width: 160px;
    height: auto;
    border-radius: 5px;
    font-size: 1.5rem;
  }

  .resume svg {
    margin-right: 10px;
  }

  #popEffect {
    margin: 1rem 0rem;
  }
}

@media only screen and (min-width: 1050px) {
  .aboutContainer {
    flex-direction: row;
  }

  .icons {
    font-size: 2.5rem;
    padding-top: 0rem;
    width: 190px;
    height: 100%;
    max-width: 720px;
  }

  .icons i {
    padding: 1rem;
  }

  .rotatingWords {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}