.aboutContainer {
  overflow: scroll;
  flex-direction: column;
}

.greeting {
  /* background-color: red; */
  height: 100%;
  flex-basis: 50%;
}

.twoColumn {
  flex-basis: 50%;
}

.resume {
  flex-basis: 40%;
}

.icons {
  flex-basis: 60%;
}
.icons {
  font-size: 2.5rem;
  color: #999999;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-end;
}

.icons i {
  padding: 1rem;
}