.contentContainer {
  width: 100vw;
  height: 100vh;
  flex-basis: 100%;
}

@media only screen and (min-width: 800px) {
  .contentContainer {
    flex-basis: 80vw;
  }
}

.animate {
  animation: slide-in 1.2s forwards;
  -webkit-animation: slide-in 1.2s forwards;
}

@keyframes slide-in {
  0% { -webkit-transform: translateX(-100%); }
  100% { -webkit-transform: translateX(0%); }
}
