.container {
  min-height: 100vh;
  flex-direction: column;
}

.home {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: #006ba6;
}

.first {
  width: 100vw;
  position: relative;
  z-index: 100;
}

.second {
  width: 100vw;
  flex-direction: row;
}

.menu {
  flex-direction: column;
  flex-basis: 50%;
  font-size: 5vw;
  text-align: end;
  align-items: flex-end;
}

.menuTextAbout, .menuTextWork, .menuTextContact {
  transition: ease-in .2s;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  z-index: 100;
}

.menuTextAbout {
  background-color: #0496ff;
  color:white;
}

.menuTextWork {
  background-color: #ffbc42;
  color:white;
}

.menuTextContact {
  background-color: #d81159;
  color:white;
}

.menuTextAbout:hover, .menuTextWork:hover, .menuTextContact:hover {
  color: black;
  cursor: pointer;
  transform: scale(1.05);
  z-index: 200;
}

.about, .work, .contact {
  position: relative;
  align-items: center;
}

.aboutColor {
  position: fixed;
  background-color: #0496ff;
  height: 1vw;
  width: 100%;
  animation: colorRender 2s linear;
}

.workColor {
  position: fixed;
  background-color: #ffbc42;
  height: 1vw;
  width: 100%;
  animation: colorRender 2s linear;
}

.contactColor {
  position: fixed;
  background-color: #d81159;
  height: 1vw;
  width: 100%;
  animation: colorRender 2s linear;
}

.yun {
  flex-basis: 50%;
  position: relative;
}

@keyframes colorRender {
  from {
    width: 0%;
  } to {
    width: 100%;
  }
}

#yun {
  stroke: #000;
  stroke-width: 0.25mm;
  fill: #fff;
}