.sidebar {
  flex-basis: 100vw;
  height: 100vh;
  width: 100vw;
  min-width: 350px;
  padding: 3rem 0rem 3rem 0rem;
  background-color: #ffbc42;
  z-index: 100;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  .sidebar {
    flex-basis: 20vw;
    width: 20vw
  }
}

.names {
  flex-basis: 40vh;
  width: 100%;
  max-width: 30rem;
  padding: 0rem 2rem 0rem 2rem;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 100px;
  /* transform: translateX(-22px); */
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.navigation {
  flex-basis: 40vh;
  width: 100%;
  flex-direction: column;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
}


.about, .portfolio, .contact {
  width: 100%;
  justify-content: center;
  transition: ease-in-out .3s;
  padding: 0rem 2rem 0rem 2rem;
}

.about:hover, .portfolio:hover, .contact:hover {
  color: white !important;
  cursor: pointer;
}

.about:hover {
  background-color: #212d40 !important;
}

.portfolio:hover{
  background-color: #d81159 !important;
}

.contact:hover {
  background-color: #0081a7 !important;
}

.footer {
  flex-basis: 20vh;
  width: 40%;
  justify-content: space-between;
  font-size: 2rem;
  align-items: flex-end;
}

.footer svg:hover {
  fill: white;
  transition: ease-in-out .2s;
}