.sidebar {
  flex-basis: 100%;
  min-height: 100%;
  width: 100%;
  padding: 2rem 0rem 2rem 0rem;
  background-color: #ffbc42;
  z-index: 100;
  flex-direction: column;
  align-items: center;
}

.top {
  height: 40%;
  width: 100%;
  max-width: 30rem;
  padding: 0rem 2rem 0rem 2rem;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 100px;
  display: none;
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.navigation {
  height: 40%;
  width: 100%;
  padding: 2rem 0rem;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

.about, .portfolio, .contact {
  width: 100%;
  justify-content: center;
  transition: ease-in-out .3s;
  padding: 0rem 2rem 0rem 2rem;
}

.about:hover, .portfolio:hover, .contact:hover {
  color: white !important;
  cursor: pointer;
}

.about:hover {
  background-color: #212d40 !important;
}

.portfolio:hover{
  background-color: #d81159 !important;
}

.contact:hover {
  background-color: #0081a7 !important;
}

.footer {
  height: 20%;
  width: 40%;
  justify-content: space-between;
  font-size: 2rem;
  align-items: flex-end;
}

.footer svg:hover {
  fill: white;
  transition: ease-in-out .2s;
}

@media only screen and (min-width: 800px) {
  .sidebar {
    flex-basis: 20%;
    width: 20%;
    min-width: 350px;
    padding-top: 3rem;
  }

  .navigation {
    font-size: 3rem;
  }

  .logo {
    display: flex;
    margin-bottom: 1rem;
  }
}