.sidebar {
  flex-basis: 30%;
  height: 100%;
  padding: 50px;
  background-color: #ffbc42;;
  top: 0;
  z-index: 100;
  flex-direction: column;
}

.logo {
  position: relative;
  height: 40%;
}

.navigation {
  flex-direction: column;
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
}

.link:hover {
  color: white;
  cursor: pointer;
}

.footer {
  width: 40%;
  justify-content: space-between;
  font-size: 2rem;
  margin: auto;
  transition: ease-in-out;
}

.footer svg:hover {
  fill: white;
  transform: scale(1.2);
}